.item {
  max-width: 274px;
}
.img_block {
  position: relative;
  border-radius: 14px;
  background: #f3f3f2,
    linear-gradient(
      180deg,
      rgba(18, 20, 23, 0.5) 0%,
      rgba(18, 20, 23, 0.5) 100%
    );
  overflow: hidden;
}
.heart {
  position: absolute;
  top: 14px;
  right: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.titles_block {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
}

.title_price {
}
.model {
  color: #3470ff;
}
.tags_list {
}
.btn_block {
  margin-top: 28px;
}

