.list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
}

.btn_load_more {
  display: block;
  margin: 100px auto 0;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #3470ff;
  background-color: transparent;
  transition: color .3s ease;

  &:hover {
    color: #0b44cd;
  }
}
